<!DOCTYPE html>
<html ng-app="chatapp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <div ng-controller="roomFetcher" ng-init="roomname=''">
            <div ng-repeat="room in rooms track by $index" class="roomContent" update-on-end>
                <div class="newRoom roomName" id="{{ room.id }}">{{ room.name }}</div>
                <div class="messages">
                    <div ng-repeat="msg in roomData[room.id].msgs">
                        {{ msg.date }} {{ msg.user }} : {{ msg.text }}
                    </div>
                    <input type="text" ng-model="msgField[$index]" />
                    <input type="button" value="Send" ng-click="sendMsg(room.id, msgField[$index], username)" ng-disabled="!username || username.length == 0" />
                </div>
            </div>
            <input type="text" ng-model="roomname" /><input type="button" ng-click="makenew(roomname)" value="New room" />
            <div>
                <span>Name: </span>
                <input type="text" ng-model="username" />
            </div>
            <div ng-show="!username || username.length == 0">Username can't be null!</div>
            
        <script type="text/javascript">
            /* global angular */
            var updateHandler = function() {
                /* add click listener to new rooms */
                $('.newRoom').removeClass('newRoom').click(function() {
                    var roomid = $(this).attr('id');
                    var msgdiv = $(this).next();
                    var scope = angular.element(this).scope();
                    if (msgdiv.css('display') == 'none')
                        scope.addRoom(roomid);
                    else
                        scope.removeRoom(roomid);
                    msgdiv.toggle(400);
                });
            };
        </script>
        </div>
        
        <script src="js/controller/app.js"></script>
    </body>
</html>