.messages {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.msg-content {
    display: none;
    border: 1px solid #37B;
    border-top: 0;
    padding: 20px;
    margin: 6px;
    margin-top: 0;
}

.msg-user {
    display: inline-block;
    font-weight: bold;
}

.msg-date {
    color: gray;
    font-size: 10px;
    font-style: italic;
}

.msg-text {
    display: inline-block;
    margin-top: 2px;
    position: relative;
    padding: 4px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #49C solid 2px;
}

.msg-text:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 15px 8px 0;
    border-color: transparent #49C;
    display: block;
    width: 0;
    z-index: 0;
    left: -15px;
    top: 3px;
}

.room-name {
    border: 2px solid #37B;
    border-radius: 5px;
    font-weight: bold;
    padding: 3px;
    margin: 3px;
    margin-bottom: 0;
}

.controls {
    border-top: 1px solid #CCC;
    margin-top: 30px;
    padding-top: 15px;
}

.container > div {
    margin-bottom: 15px;
}